/* Styles for a specific section with a background image */
.section-with-background {
    position: relative;
    overflow: hidden;
    padding: 2em;
    color: white; /* Ensure text is readable */
}

.university,.department {
    font-style: italic;
    color: #555; /* Darker color for better readability */
    font-size: 1.1em; /* Slightly larger font size */
    margin-bottom: 0.5em; /* Reduced bottom margin for compactness */
    border-bottom: 1px solid #ccc; /* Add a subtle underline */
    padding-bottom: 0.5em; /* Add padding below the text */
}


/* Navbar styles */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Navbar styles */
.navbar {
    background-color: #004d99;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover, .navbar a.active {
    background-color: #66b3ff;
    color: #fff;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Footer styles */
footer {
    background-color: #004d99; /* Non-transparent background */
    color: #fff;
    padding: 5px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
    color: #f2f2f2;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: left;
}

footer a i {
    margin-right: 5px;
}

.contact-info {
    display: flex;
    align-items: left;
    margin-top: 10px;
}

.contact-info a {
    margin-right: 20px;
}


.section {
    padding: 2em;
}

/* Experience section styles */
.experience-entry {
    margin-bottom: 2em;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for readability */
    width: 100%;
    max-width: 900px;
    margin: 2 auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-entry h2 {
    margin-top: 0;
    color: #007bff;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
}

.experience-entry .duration {
    font-style: italic;
    color: #666;
    font-size: 1em;
    margin-bottom: 1em;
}

.experience-entry ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.experience-entry ul li {
    margin-bottom: 0.5em;
}

.experience-entry p {
    margin-bottom: 1em;
    line-height: 1.6;
    text-align: left;
}
.experience-entry ul {
    text-align: left;
}

.experience-entry a {
    display: inline-block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.experience-entry a:hover {
    background-color: #007bff;
    color: white;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
}
/* Styles for About Me section */
.about-me-section {
    padding: 2em;
}

.about-me-entry {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for readability */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.about-me-entry h2 {
    margin-top: 0;
    color: #007bff;
    font-size: 1.8em;
    font-weight: bold;
}

.about-me-entry p {
    margin-bottom: 1em;
    line-height: 1.6;
}

.certificates-section {
    margin-top: 20px;
}

.certificate {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.certificate h3 {
    margin-top: 0;
    color: #007bff;
    font-size: 1.5em;
}

.certificate p {
    line-height: 0.5;
    margin-bottom: 9px;
    line-height: 1.6;
}

/* Hover effect */
.certificate:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .certificate {
        padding: 15px;
    }
}
.dot {
  vertical-align: middle; /* Align the dot vertically in the middle */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

.cta-btn:hover {
    background-color: #0056b3;
}

.feature-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
  }

.feature-box {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }

.feature-box:hover {
    background-color: #ddd;
}

.feature-box p {
    margin: 5px 0;
}
.feature-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: none; /* Initially hidden */
}
.feature-box h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.feature-box p {
    margin: 5px 0;
}

.hidden {
    display: none;
}

.photo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.photo-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .skills ul {
        list-style-type: none; 
        padding: 0; 
    }

    .skills li {
        margin-bottom: 15px; 
    }